.container-index {
  width: 100%;
  display: grid;
 justify-content: center;
  grid-template-columns: repeat(3, 400px);
  gap: 20px;
}


.container-index .foto {
  position: relative;
}


.foto {
  width: 400px;
  height: 400px;
  margin: 10px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(140, 71, 180, 0.541);
    width: 100%;
    height: 0;
    transition: .5s ease;
    overflow: hidden;
  }

  .overlay h2 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .foto:hover .overlay {
    height: 100%;
    cursor: pointer;
  }

  .titulo-index {
    text-align: center;
  }


  div ul li {
    padding: 10px;
    display: flex;
    text-align: left;
  }

  @media(max-width:728px){
    .container-index{     
  grid-template-columns: 400px 400px;
    }
}

@media(max-width:520px){
  .container-index{     
grid-template-columns: 400px;
  }
}