/*---galeria de imagenes--*/

.tituloProductos {
    font-size: 3rem;
    margin: 30px;
    text-align: center;

}

.grid-item {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    border: 4px solid white;

    &:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border: 4px solid white;
}


@media (max-width: 871px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }


    #tituloProductos {
        margin: 50px;

    }
}




@media screen and (max-width: 540px) {

    h1 {
        font-size: 24px;
    }
}
